<div class="side-bar-header">
  <div class="user-name">
    Tom
  </div>
  <a class="create-new-chat" href="#">チャットを作成する</a>
</div>
<div class="rooms">
  <div class="room">
    <a href="#">techroom1</a>
  </div>
  <div class="room">
    <a href="#">techroom1</a>
  </div>
  <div class="room">
    <a href="#">techroom1</a>
  </div>
  <div class="room">
    <a href="#">techroom1</a>
  </div>
  <div class="room">
    <a href="#">techroom1</a>
  </div>
  <div class="room">
    <a href="#">techroom1</a>
  </div>
  <div class="room">
    <a href="#">techroom1</a>
  </div>
  <div class="room">
    <a href="#">techroom1</a>
  </div>
  <div class="room">
    <a href="#">techroom1</a>
  </div>
  <div class="room">
    <a href="#">techroom1</a>
  </div>
  <div class="room">
    <a href="#">techroom1</a>
  </div>
</div>
